# Created by venv; see https://docs.python.org/3/library/venv.html
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Python cache folders
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Data science extras

# =========================
data/raw/*
!data/raw/.gitkeep